<div class="container">
	<div class="hero-unit">
		<h1>Code4Sac OSM Helper</h1>
		<p>Lorem ipsum...</p>
		<div class="row">
			<div class="span10 offset2">
				<button class="btn btn-large" type="button">Add My Business</button>
				<button class="btn btn-large" type="button">Add To-Do</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Done?</th>
						<th>Item</th>
						<th>Kind</th>
						<th>Who</th>
						<th>When <i class="icon-chevron-down"></i></th>
					</tr>
				</thead>

				<tbody>

					<tr>
						<td><input type="checkbox"></td>
						<td>ABC Inc.</td>
						<td>Business Request</td>
						<td>John Doe</td>
						<td>Today 7pm</td>
					</tr>

					<tr>
						<td><input type="checkbox"></td>
						<td>Sacramento Farmer's Market</td>
						<td>Needs More Info</td>
						<td>John Doe</td>
						<td>Today 6pm</td>
					</tr>

					<tr>
						<td><input type='checkbox'></td>
						<td>Capital Garage</td>
						<td>Miscellaneous</td>
						<td><strong>Unassigned</strong></td>
						<td>Yesterday 12pm</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>