<!DOCTYPE html>
<html>
	<head>
	<title>status</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script src="js.jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript"></script>
	<style>
	img
	{
	opacity:0.4;
	filter:alpha(opacity=40); 
	}
	</style>
	</head>
	
	<div class="hero-unit">
		<center><h1><img src="http://i.imgur.com/qry4OrD.jpg" ></h1></center>
		
		<div class="row">
			<center><div class="span10 offset2">
				<button class="btn btn-large" type="button" data-inline="true">Home</button>
				<button class="btn btn-large" type="button" data-inline="true">Help Us Map</button>
				<button class="btn btn-large" type="button" data-inline="true">Status</button>
				<button class="btn btn-large" type="button" data-inline="true">Need Data</button>
				<button class="btn btn-large" type="button" data-inline="true">Learn</button>
			</div></center>
		</div>
	</div>
	<body>
	<header>
		<center><h3>Check Out What We've Added So Far!</h3></center>
	</header>
	
	<center><table border=1> <!-- TABLE -->
	<tr>
	<th> Week </th> <!-- COLUMNS -->
	<th> 1 </th>
	<th> 2 </th>
	<th> 3 </th>
	<th> 4 </th>
	<td></td>
	</tr>
	<tr>
	<th> Total Farm2Fork Businesses </th> <!-- ROW 1 -->
	<td> 0 </td>
	<td> 0 </td>
	<td> 0 </td>
	<td> 0 </td>
	</tr>
	<tr>
	<th> With Local Foods </th> <!-- ROW 2 -->
	<td> 0 </td>
	<td> 0 </td>
	<td> 0 </td>
	<td> 0 </td>
	</tr>
	</tr>
	<tr>
	<th> With Organic Foods </th> <!-- ROW 3 -->
	<td> 0 </td>
	<td> 0 </td>
	<td> 0 </td>
	<td> 0 </td>
	</tr>
	</tr>
	<tr>
	<th> With Vegan Foods </th> <!-- ROW 4 -->
	<td> 0 </td>
	<td> 0 </td>
	<td> 0 </td>
	<td> 0 </td>
	</tr>
	</tr>
	<tr>
	<th> With Gluten-Free Foods </th> <!-- ROW 5 -->
	<td> 0 </td>
	<td> 0 </td>
	<td> 0 </td>
	<td> 0 </td>
	</tr>
	</tr>
	</table></center> <!-- END OF TABLE -->

	<!-- MAP --> 
	
	<div data-role="footer" data-position="fixed">
	</div>
	</body>
	</div>
</html>