<!DOCTYPE html>
<html>
<head>
  <title>HackTheMap.org</title>
  <!--<link href="/assets/application-da73dbfbea198c64568ee2acb93baa33.css" media="all" rel="stylesheet" />
  <script src="/assets/application-fbbdcbda312ab6691ff6a298ef8cdcbe.js"></script>-->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
  <meta content="authenticity_token" name="csrf-param" />
  <meta content="pKnC3TI0TCUdue5J51bnfaP1IbdZCRVW4w14IE5Iv6w=" name="csrf-token" />
<style>

body{
background-image:url('http://i.imgur.com/bHGDf7K.jpg'); 
background-repeat:no-repeat;
background-size:100%,100%;
background-attachment:fixed;
}
.Logo{
width:"1350px";
height:"150px";
font-size:85px;
position:relative;
top:40px;
}
.row{
position:absolute;
display:inline;
top:40px;
}
.button{
border
}
.hero-unit{
position:static;
}
</style>
  
  </head>
<body>

<div class="container">
        <div class="hero-unit">
			<div class="Logo">
                <h1><img src="http://i.imgur.com/bkMucSJ.jpg"></h1>
				</div>
                <p>Lorem ipsum...</p>
                <div class="row">
                        <div class="buttons" position:relative>
                                <button class="btn btn-large" type="button" data-inline="true" onclick='jQuery.mobile.changePage("home");'>Home</button>
                                <button class="btn btn-large" type="button" data-inline="true" onclick='jQuery.mobile.changePage("form_page");'>Help Us Map</button>
                                <button class="btn btn-large" type="button" data-inline="true" onclick='jQuery.mobile.changePage("statuspage")'>Status</button>
                                <button class="btn btn-large" type="button" data-inline="true" onclick='jQuery.mobile.changePage("need_data")'>Need Data</button>
                                <button class="btn btn-large" type="button"data-inline="true" onclick='jQuery.mobile.changePage("learn");'>Learn</button>
                        </div>
                </div>
        </div>
</div>

</body>
</html>